<h1><%= @model.title %></h1>

<% if @model.search %>
<div class='flakes-search'>
  <input class='search-box search' placeholder='Search' autofocus/>
</div>
<% end -%>
<div class='flakes-actions-bar'>
<%= link_to "Add #{@model.name_value}", new_admin_model_item_path(@model.name_value), class: 'action button-gray smaller right' %>
</div>
<%= @result %>
<div class="flakes-pagination right">
  <% if @item_list.pagination[:last_page] %>
    <a href='<%= admin_model_items_path(@model.name,@item_list.query(page: @item_list.pagination[:last_page])) %>'>Prev</a>
    &nbsp; 
  <% end -%>
  Page
  <input value="<%= @item_list.pagination[:page] %>">
  <% if @item_list.pagination[:pages] %>
    <i>of</i> <%= @item_list.pagination[:pages] %>
    &nbsp;
  <% end -%>

  <% if @item_list.pagination[:next_page] %>
    <a href='<%= admin_model_items_path(@model.name,@item_list.query(page: @item_list.pagination[:next_page])) %>'>Next</a>
  <% end -%>
</div>
