<h1><%= @model.instance_name_block.call(@item) %> (<%= @item.id %>)</h1>

<p class='flakes-breadcrumbs'>
<%= link_to @model.title, admin_model_items_path(@model.name) %>
/
</p>

<br/>
<%= @result %>
<br/>
<% if @model.edit_permitted?(instance_exec(&LittleBigAdmin.config.current_permission)) %>
<%= link_to "Edit #{@model.instance_title}", edit_admin_model_item_path(@model.name, @item.id), class: 'button-green bigger' %>
<% end -%>

